<div class="workbook text home" ng-controller="homeCtrl as ctrl" layout-padding layout="row">
	<md-card flex="60">
    <md-card-content>
    	<md-progress-linear md-mode="indeterminate" ng-if="esClient.busy"></md-progress-linear>
		  <div layout="column" ng-if="faces">
        <md-content class="md-padding" infinite-scroll-container='".workbook-content-container"' infinite-scroll='esClient.nextPage(request)' infinite-scroll-disabled='esClient.busy' infinite-scroll-distance='1'>
          <md-list class="result-items">
            <md-list-item class="md-2-line" ng-repeat="result in faces">
              <div class="md-list-item-text" layout="row">
								<h4 flex class="md-title">{{ result._source.name }}</h4>
								<h4 flex class="md-title">{{ result.count }}</h4>
								<md-button class="md-raised md-primary" aria-label="open" ng-click="ctrl.openFace(result)">open</md-button>
				        <md-button class="md-raised md-primary" aria-label="edit" ng-click="ctrl.editFace(result)">edit</md-button>
				        <md-button class="md-raised md-primary" aria-label="remove" ng-click="ctrl.removeFace(result)">delete</md-button>
              </div>
              <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
          </md-list>
        </md-content>
		  </div>
    </md-card-content>
  </md-card>
  <div flex="40"></div>
</div>