<ng-form name="faceForm">
<div layout="column" class="md-padding wizard-step">
  <md-content class="md-padding">
    <div layout="row" layout-align="start center">
      <h4>Search Output</h4>
    </div>
    <md-input-container>
      <label>Filter index by name ({{wizard.fields.available.length}} fields)</label>
      <input ng-model="outputFieldFilter" />
    </md-input-container>

    <md-content class="md-padding step-repeated-content">
      <md-input-container>
        <md-grid-list class="step-repeated-content" md-cols-gt-md="12" md-cols-sm="3" md-cols-md="8" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter-gt-md="16px" md-gutter-gt-sm="8px" md-gutter="4px" class="result-items">
          <md-grid-tile class="gray" md-rowspan="1" md-colspan="4" md-colspan-sm="1"
               ng-repeat="result in wizard.fields.available | filter:outputFieldFilter ">
            <md-checkbox name="faceOutputs" ng-model="wizard.fields.output.isSelected[result.dot_path]" ng-change="toggleField(result)"/>{{result.name}}
          </md-grid-tile>
        </md-grid-list>
      </md-input-container>
    </md-content>
  </md-content>
</div>
</ng-form>